{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div id="carouselExampleControls" class="carousel slide h-100 mb-5" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://cdn.pixabay.com/photo/2021/07/16/09/54/travel-6470467_960_720.jpg" class="d-block img-fluid h-100 w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2021/07/11/13/58/ship-6403827_960_720.jpg" class="d-block img-fluid h-100 w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2015/07/27/19/47/turtle-863336_960_720.jpg" class="d-block img-fluid h-100 w-100" alt="...">
            </div>
        </div>
    </div>

    ////

    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm h-100 text-center text-md-left">
                <h2> Présentation</h2>
                    <p class="text-break">
                        Jeune entrepreneuse, c’est après 5 ans d’études dans le graphisme
                        et plusieurs expériences en milieu professionnels que j’ai lancé mon activité.
                        Curieuse et autodidacte, je ne cesse de faire évoluer mes connaissances sur une
                        large palette de prestations afin de toujours vous proposer une communication cohérente
                        et complète à chacun de vos projets.
                    </p>
                    <a class="btn btn-success rounded-pill mb-3" href="">Découvrir mon CV ></a>

            </div>
            <div class="col-sm presentation-picture align-middle mx-auto ">
                One of three columns
            </div>
        </div>
    </div>
    ///
    <div>
        <h2 class="text-center my-5 pb-5"> Pour quels types de projet? </h2>
        <div class=" row d-md-flex justify-content-around">
            <div class="col text-center m-md-2 m-auto">
                <img class="picto-projet" src="https://image.flaticon.com/icons/png/512/327/327542.png" alt="">
                <h3>Illustration</h3>
            </div>
            <div class="col text-center m-md-2 m-auto">
                <img class="picto-projet" src="https://image.flaticon.com/icons/png/512/327/327542.png" alt="">
                <h3>Illustration</h3>
            </div>
            <div class="col text-center m-md-2 m-auto">
                <img class="picto-projet" src="https://image.flaticon.com/icons/png/512/327/327542.png" alt="">
                <h3>Illustration</h3>
            </div>
            <div class="col text-center m-md-2 m-auto">
                <img class="picto-projet" src="https://image.flaticon.com/icons/png/512/327/327542.png" alt="">
                <h3>Illustration</h3>
            </div>
        </div>
    </div>
    ///
    <div class="p-5">
        <h2 class="text-center my-5 pb-5"> Dernières réalisations</h2>
        <div class="d-flex justify-content-between">

        {% for project in projects|slice(0, 2) %}
            <div class=" col-sm-3 card m-3">
                <img class="m-2" src="{{ project.picture|e }}" alt="">
                <h4> {{ project.Title|e}}</h4>
                <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#card-{{ project.id|e }}">
                    découvrir
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="card-{{ project.id|e }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                        <div class="container p-3">
                            <div class="row">
                                <div class="col col-md-5">
                                    <img class="img-fluid " src="{{ project.picture|e }}" alt="">
                                </div>
                                <div class="col col-md-5 p-3">
                                    <h5>{{ project.Title|e}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <p>{{ project.Description|e }}</p>
                                    <a class="btn btn-primary rounded-pill" href="{{ project.link|e }}">Découvrir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <a href="{{ path('project') }}">
             <div class="h-100 p-5 bg-primary">
                 <h3 class="text-white"> Découvrir les projets</h3>
             </div>
            </a>
       </div>
    </div>
    ///
    <div>
        <h2 class="text-center">Contact</h2>
    </div>
{% endblock %}
