{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<h1 class="text-center"> Projets réalisés </h1>
    <div class="row ">
        <div class="col-md-10 d-flex mx-auto">
            <a href="" class="btn-success rounded-pill m-auto">Tout</a>
            <a href="" class="btn-success rounded-pill m-auto">Graphisme print</a>
            <a href="" class="btn-success rounded-pill m-auto">Graphisme web</a>
            <a href="" class="btn-success rounded-pill m-auto">Développement web</a>
        </div>
    </div>
    <div class="row ">
            <div class=" col-10 p-5 h-25 d-md-flex justify-content-around mx-auto">
                {% for project in projects %}
                <div class=" col-sm-3 card m-3">
                    <img src="{{ project.picture }}" alt="">
                    <h4> {{ project.Title }}</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#card-{{ project.id }}">
                        découvrir
                    </button>
                </div>
                    <!-- Modal -->
                    <div class="modal fade" id="card-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content ">
                                <div class="container p-3">
                                    <div class="row">
                                        <div class="col col-md-5">
                                            <img class="img-fluid " src="{{ project.picture }}" alt="">
                                        </div>
                                        <div class="col col-md-5 p-3">
                                            <h5>{{ project.Title }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <p>{{ project.Description }}</p>
                                            <a class="btn btn-primary rounded-pill" href="{{ project.link }}">Découvrir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
{% endblock %}
